.product-form {
  width: 20rem;
  max-width: 90%;
  margin: auto;
}
.form-control {
  margin: 1rem 0;
}
.form-control label,
.form-control input {
  display: block;
  width: 100%;
}
.form-control input {
  border: 1px solid #dbc441;
  font: inherit;
  border-radius: 2px;
}
button {
  font: inherit;
  border: 1p solid #3e00a1;
  color: #3e00a1;
  background: white;
  border-radius: 3px;
  cursor: pointer;
}
button:hover,
button:active {
  background-color: #3e00a1;
  color: white;
}