<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{docTitle}
    link(rel="stylesheet", href="/css/main.css")
    link(rel="stylesheet", href="/css/product.css")
  body
    header.main-header
      nav.main-header.nav
        ul.main-header__item-list
          li.main-header__item
            a.active(href="/") Shop
          li.main-header__item
            a.active(href="/admin/add-product") Add Product
  main
    .grid
      if prods.length > 0
        each product in prods
          article.card.product-item
            header.card__header
              h1.product__title #{product.title}
            .card__image
              img(src="https://cdn.pixabay.com/photo/2016/03/31/20/51/book-1296045_960_720.png", alt="A Book")
            .card__content
              h2.product__price $19.99
              p.product__description A very interesting book about so many even more interesting things!
            .card__actions
              button.btn Add to Cart
      else
        h1 No Products