<!--  -->
<%- include('../includes/head.ejs') %>
  </head>

  <body>
    <%- include('../includes/navigation.ejs') %>
    <main>
      <h1>Nothing there!</h1>
    </main>
    <%- include('../includes/end.ejs') %>