<%- include('includes/head.ejs') %>
</head>

<body>
  <%- include('includes/navigation.ejs') %>
  <link rel="stylesheet" href="/css/user.css">

  <main>
    <form class="" action="/admin/add-user" method="POST">
      <div class="">
        <label for="title">Add User</label>
        <input type="text" name="title" id="title">  
        <button class="btn" type="submit">Add User</button>
      </div>
    </form>
  </main>
<%- include('includes/end.ejs') %>