<%- include('includes/head.ejs') %>
</head>

<body>
  <%- include('includes/navigation.ejs') %>
  <link rel="stylesheet" href="/css/user.css">

  <main>
    <% if (users.length > 0) {%>
      <div class="grid">
        <% for (let user of users) { %>
          <article>
            <header>
              <h1><%= user.title %></h1>
            </header>
            <div>
              <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/gettyimages-179427791-1580485545.jpg?crop=1xw:0.6665776828617191xh;center,top&resize=240:*" alt="user">
            </div>
          </article>
        <% } %>
      </div>
    <% } else { %>
      <h1>No Users found</h1>
    <% } %>
  </main>
    
<%- include('includes/end.ejs') %>