<!-- add-to-cart form reused on several pages -->
<form action="/cart" method="post">
  <button class="btn" type="submit">Add to cart</button>
  <input type="hidden" name="productId" value="<%= product.id %>">
</form>