<!-- header menu displayed on all pages -->
<!DOCTYPE html>
<html lang="en">

  <head>
  <link rel="stylesheet" href="/css/main.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= pageTitle %></title>